*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(a.jpg);
	background-size: cover;
	background-position:center ;
}
.container{
    display: flex;
    height: 500px;
    width: 800px;
   /* border: 1px solid black;*/
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form h2{
font-size: 3rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin: 40px;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover{
    cursor: pointer;
    background-color: #750000;
}
.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.form a:hover{
    color:red;
}
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#750000;
    width: 50%;
}
.side img{
    width: 450px;
    height: 450px;
}
p{
   margin-top: 19px;
}
.ortga{
    color:white;
    width: 20px;
    height: 10px;
    text-decoration: none;
    margin-top: 10px;
    text-decoration: unset;
}
.ortga:hover{
    color: #f9004d;
}